<StackLayout>
    <Label class="sub-title" text="Details"
        style="font-size:32px; margin: 35px auto auto auto;text-align: center;"></Label>

    <StackLayout [ngSwitch]="viewToggle">

        <ScrollView height="2400px">
            <StackLayout *ngSwitchDefault class="form" style="text-align: center;" id="views">
                <Label text="Email" editable="false" class="label"></Label>
                <TextField editable="false" class="credentials blur" style="font-size: 16px;"
                    [text]="this.userEmailAndId.email"></TextField>

                <Label text="Full Name" editable="false" class="label" id="fullName"></Label>
                <TextField [text]="this.currentUserDoc.fullName" editable="false" class="credentials blur"
                    style="font-size: 16px;"></TextField>


                <Label text="Gender" editable="false" class="label" id="gender"></Label>
                <TextField [text]="this.currentUserDoc.gender" editable="false" class="credentials blur"
                    style="font-size: 16px;"></TextField>

                <Label text="Sports intrest" editable="false" class="label" id="gender"></Label>
                <TextField [text]="this.currentUserDoc.gender" editable="false" class="credentials blur"
                    style="font-size: 16px;"></TextField>

                <Label text="Distance Radius" class="label" id="distance" class="label" id="distance"></Label>
                <TextField text="{{ this.currentUserDoc.distance + ' Km' }}" class="credentials blur"
                    style="font-size: 16px;"></TextField>


                <Button text="Edit" style="margin: auto;" (tap)="toggleView()"></Button>
            </StackLayout>

            <StackLayout *ngSwitchCase="'view2'" class="form" style="text-align: center;">

                <Label text="Email" editable="false" class="label"></Label>
                <TextField editable="false" class="credentials blur" style="font-size: 16px;"
                    [text]="this.userEmailAndId.email"></TextField>

                <Label text="Full Name" editable="false" class="label" id="fullName"></Label>
                <TextField [(ngModel)]="this.currentUserDoc.fullName" class="credentials" style="font-size: 16px;">
                </TextField>

                <Label text="Gender" editable="false" class="label" id="gender"></Label>
                <ListPicker [items]="genders" class="picker" (selectedIndexChange)="onSelectedIndexChanged($event)">
                    <ng-template let-item="item" let-odd="odd" let-even="even">
                        <Label [text]="item"></Label>
                    </ng-template>
                </ListPicker>

                <Label text="Sports" editable="false" class="label" id="gender"></Label>
                <StackLayout *ngFor="let sport of sports" Orientation="Horizontal">
                    <Label [text]="sport.name"></Label>
                    <Image src="font://&#xf013;" stretch="none" class="fas" width="35px" height="35px" ></Image>
                </StackLayout>
                <Label text="{{ this.currentUserDoc.distance + ' Km' }}" class="label" id="distance"></Label>
                <Slider [value]="this.currentUserDoc.distance" minValue="0" maxValue="500" class="p-0 m-0"
                    (valueChange)="onSliderValueChange($event)">
                </Slider>

                <Button text="Save" style="margin: auto ;background-color: #c0c0c0;"
                    (tap)="toggleView()"></Button>

            </StackLayout>

        </ScrollView>
    </StackLayout>

</StackLayout>
