<StackLayout>
    <Label style="height: 80px;background-color: transparent;"></Label>
    <MDBottomNavigation selectedIndex="0" id="MDBottomNavigation">
        <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
        <MDTabStrip id="MDTabStrip">
            <MDTabStripItem id="navagation-options">
                <Image src="font://&#xf015;" stretch="none" class="fas"></Image>
                <!-- <Label text="Home" id="navagation-options-label"></Label> -->
                <!-- <Image src="font://&#xf015;" class="fas"></Image> -->
            </MDTabStripItem>
            <MDTabStripItem class="special" id="navagation-options">
                <Image src="font://&#xf2bd;" stretch="none" class="fas"></Image>
                <!-- <Label text="Account" id="navagation-options-label"></Label> -->
                <!-- <Image src="font://&#xf007;" class="fas"></Image> -->
            </MDTabStripItem>
            <MDTabStripItem class="special" id="navagation-options">
                <Image src="font://&#xf086;" stretch="none" class="fas"></Image>
                <!-- <Label text="Chat" id="navagation-options-label"></Label> -->
                <!-- <Image src="font://&#xf00e;" class="fas"></Image> -->
            </MDTabStripItem>
            <MDTabStripItem class="special" id="navagation-options">
                <Image src="font://&#xf5a0;" stretch="none" class="fas"></Image>
                <!-- <Label text="Map" id="navagation-options-label"></Label> -->
                <!-- <Image src="font://&#xf00e;" class="fas"></Image> -->
            </MDTabStripItem>
            <MDTabStripItem class="special" id="navagation-options">
                <Image src="font://&#xf013;" stretch="none" class="fas"></Image>
                <!-- <Label text="Setting" id="navagation-options-label"></Label> -->
                <!-- <Image src="font://&#xf00e;" class="fas"></Image> -->
            </MDTabStripItem>
        </MDTabStrip>

        <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
        <MDTabContentItem>
            <GridLayout>
                <!-- <Label text="Home Page" class="h2 text-center"></Label> -->
                <ns-home></ns-home>
            </GridLayout>
        </MDTabContentItem>
        <MDTabContentItem>
            <GridLayout>
                <!-- <Label text="Account Page" class="h2 text-center"></Label> -->
                <ns-profile></ns-profile>
            </GridLayout>
        </MDTabContentItem>
        <MDTabContentItem>
            <GridLayout>
                <Label text="Search Page" class="h2 text-center"></Label>
            </GridLayout>
        </MDTabContentItem>
    </MDBottomNavigation>
</StackLayout>
