<StackLayout>
    <Label style="height: 80px;background-color: transparent;"></Label>
    <MDBottomNavigation selectedIndex="0">
        <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
        <MDTabStrip>
            <MDTabStripItem id="navagation-options">
                <Label text="Home"></Label>
                <!-- <Image src="font://&#xf015;" class="fas"></Image> -->
            </MDTabStripItem>
            <MDTabStripItem class="special" id="navagation-options">
                <Label text="Account"></Label>
                <!-- <Image src="font://&#xf007;" class="fas"></Image> -->
            </MDTabStripItem>
            <MDTabStripItem class="special" id="navagation-options">
                <Label text="Chat"></Label>
                <!-- <Image src="font://&#xf00e;" class="fas"></Image> -->
            </MDTabStripItem>
            <MDTabStripItem class="special" id="navagation-options">
                <Label text="Map"></Label>
                <!-- <Image src="font://&#xf00e;" class="fas"></Image> -->
            </MDTabStripItem>
            <MDTabStripItem class="special" id="navagation-options">
                <Label text="Setting"></Label>
                <!-- <Image src="font://&#xf00e;" class="fas"></Image> -->
            </MDTabStripItem>
        </MDTabStrip>

        <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
        <MDTabContentItem>
            <GridLayout>
                <!-- <Label text="Home Page" class="h2 text-center"></Label> -->
                <ns-home></ns-home>
            </GridLayout>
        </MDTabContentItem>
        <MDTabContentItem>
            <GridLayout>
                <!-- <Label text="Account Page" class="h2 text-center"></Label> -->
                <ns-profile></ns-profile>
            </GridLayout>
        </MDTabContentItem>
        <MDTabContentItem>
            <GridLayout>
                <Label text="Search Page" class="h2 text-center"></Label>
            </GridLayout>
        </MDTabContentItem>
    </MDBottomNavigation>
</StackLayout>
